//Colores
$color-subtitulos: #6200EA;
$color-sub-subtitulos: #304FFE;
$color-contacto: #E91E63;
$color-contacto-dos: #F06292;
$color-first-letter: #BF360C;
$color-lista: #1A237E;
$color-selection: #C51162;
$color-selection-dos: #76FF03;
