//body
body {
    h2 {
        @include subtitulo;
    }

    .container {
        .ache__tres {
            @include sub-subtitulo;
        }

    }

    p {
        font-family: 'Roboto', sans-serif;
    }

    h4 {
        color: $color-contacto;
        font-weight: bolder;
    }

    .container .contactanos .portelefono {
        color: $color-contacto-dos;
    }
    .container ::selection {
        background-color: $color-selection;
        color: yellow;
    }
    .container h2::selection{
        background-color: #311B92;
        color: $color-selection-dos;
    }
}