//Footer
footer {
    background-color: black;
    overflow: hidden;
    padding-top: 1.2%;
    padding-bottom: 0.5%;

    .footer__masinformacion {
        background-color: yellow;
        text-align: center;

        h3 {
            font-size: 1.5rem;
            color: blueviolet;
        }
    }

    .footer__redessociales {
        background-color: aqua;
        text-align: center;

        h3 {
            font-size: 1.5rem;
            color: blueviolet;
        }
    }

    .footer__informacioncontactos {
        background-color: wheat;
        text-align: center;

        h3 {
            font-size: 1.5rem;
            color: blueviolet;
        }
    }

    .footer__derechosreservados {
        background-color: black;
        color: white;
        text-align: center;
        padding-top: 0.5%;
        .footer__derechosreservados--diezclases{
            font-weight: bolder;
        }
    }
}